.hero {
  background-image: url('./assets/triangle-pattern.svg');
  background-position: center center;
  background-repeat: space;
  height: 20rem;
}

/*
  #fe565d Bittersweet
  #48c46d Emerald
  #1b67ff Clear Blue
  #172025 Black Pearl
*/
.bittersweet {
  color: #fe565d;
}
.bg-bittersweet {
  background-color: #fe565d;
}
.b--bittersweet {
  border-color: #fe565d;
}

.hover-bittersweet:hover,
.hover-bittersweet:focus {
  color: #fe565d;
}

.hover-bg-bittersweet:hover,
.hover-bg-bittersweet:focus {
  background-color: #fe565d;
}

.black-pearl {
  color: #172025;
}
.bg-black-pearl {
  background-color: #172025;
}
.b--black-pearl {
  border-color: #172025;
}

.hover-black-pearl:hover,
.hover-black-pearl:focus {
  color: #172025;
}

.hover-bg-black-pearl:hover,
.hover-bg-black-pearl:focus {
  background-color: #172025;
}

.clear-blue {
  color: #1b67ff;
}
.bg-clear-blue {
  background-color: #1b67ff;
}
.b--clear-blue {
  border-color: #1b67ff;
}

.hover-clear-blue:hover,
.hover-clear-blue:focus {
  color: #1b67ff;
}

.hover-bg-clear-blue:hover,
.hover-bg-clear-blue:focus {
  background-color: #1b67ff;
}

.emerald {
  color: #48c46d;
}
.bg-emerald {
  background-color: #48c46d;
}
.b--emerald {
  border-color: #48c46d;
}

.hover-emerald:hover,
.hover-emerald:focus {
  color: #48c46d;
}

.hover-bg-emerald:hover,
.hover-bg-emerald:focus {
  background-color: #48c46d;
}
